:root {
  /* Colors */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #343434;
  --grey-light-color: #e0e0e0;
  /* Size */
  --padding: 12px;
  --avatar-size: 36px;
  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: var(--white-color);
}

button,
button:focus {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__content {
  position: relative;
  top: 0;
  width: 20%;
  text-align: center;
  background-color: var(--white-color);
  padding: 50px 100px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: fade-in 1s;
}

/* Modal buttons */
#todo_submit,
#close {
  width: 15%;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.hidden {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  display: flex;
  flex-direction: column; /* header, lists를 세로로 나열 */
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center; /* flex box를 가운데 정렬 */
  align-items: center; /* flex box를 수직으로 가운데 정렬 */
  height: 100px;
}

.lists {
  display: flex;
  flex: 1; /* lists의 크기는 부모 크기(가로 100%)로 결정됨 */
  width: 100%;
  overflow-x: scroll; /* list 갯수 증가 시 가로 스크롤 */
}

.lists .list {
  flex-flow: column; /* list-item를 세로로 나열 */
  /* 각 list의 크기 지정 */
  width: 20%;
  position: relative;

  list-style: none;
  background-color: var(--grey-light-color);
  margin: 0 15px; /* 각 list 사이에 간격을 줌 */
  padding: 60px 1rem 0.5rem;
  transition: all 0.2s linear;
}

.lists .list h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--grey-dark-color);
  color: var(--white-color);
  margin: 0;
  width: 100%;
  height: 58px;
  padding: 0.5rem 1rem;
}

#addBtn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #ccc;
  width: 100%;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

#addBtn:hover {
  background-color: #aaa;
}

.lists .list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(126, 75, 75, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.lists .list .list-item button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1.3rem;
  color: var(--grey-light-color);
}

.lists .list .list-item span {
  margin-left: 8px;
}
