* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: white;
}

button,
button:focus {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.app {
  display: flex;
  flex-direction: column; /* header, lists를 세로로 나열 */
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center; /* flex box를 가운데 정렬 */
  align-items: center; /* flex box를 수직으로 가운데 정렬 */
  height: 100px;
}

.lists {
  display: flex;
  flex: 1; /* lists의 크기는 부모 크기(가로 100%)로 결정됨 */
  width: 100%;
  overflow-x: scroll; /* list 갯수 증가 시 가로 스크롤 */
}

.lists .list {
  flex-flow: column; /* list-item를 세로로 나열 */
  /* 각 list의 크기 지정 */
  width: 20%;
  position: relative;

  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px; /* 각 list 사이에 간격을 줌 */
  padding: 60px 1rem 0.5rem;
  transition: all 0.2s linear;
}

.lists .list h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #343434;
  color: #f3f3f3;
  margin: 0;
  width: 100%;
  height: 58px;
  padding: 0.5rem 1rem;
}

#addBtn {
  padding: 0.5rem 1rem;
  background-color: #ccc;
  width: 100%;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
}

.lists .list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.lists .list .list-item button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 1.3rem;
  color: #ccc;
  cursor: pointer;
}

.lists .list .list-item span {
  margin-left: 8px;
}
