body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  list-style: none;
}

.navbar__icons {
  display: flex;
  list-style: none;
}
