:root {
  /* Colors */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  /* Size */
  --padding: 12px;
  --avatar-size: 36px;
  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

button,
button:focus {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}
/* Video Player */
.player {
  /* 상단 고정 */
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  /* 최대 너비 */
  max-width: 1000px;
}

/* Video Info */
body .infoNupNext > .info {
  padding: var(--padding);
}

.info .metaData .hashtags {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-medium);
}

.info .metaData .hashtags li {
  padding-right: var(--padding);
}
/* title and button */
.info .metaData .titleNBtn {
  display: flex;
}

.info .metaData .titleNBtn .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.info .metaData .titleNBtn .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metaData .moreBtn {
  font-size: var(--font-medium);
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metaData .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .metaData .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
/* Action Button */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.info .actions button {
  /* icon과 span을 세로로 나열 */
  display: flex;
  flex-direction: column;
  /* icon과 span Font Style */
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions button i {
  margin: 0 auto; /* icon 가운데 정렬 */
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px; /* icon size 덮어쓰기 */
}

.info .actions button i.active {
  color: var(--blue-color);
}

.info .actions button span {
  width: 100%; /* action 이름 가운데 정렬*/
  text-align: center;
}
/* Channel Description */
.info .channel {
  /* metaData(프로필 사진과 채널 정보)와 subscribe를 양 끝에 배치 */
  display: flex;
  justify-content: space-between;
  /* 위아래 간격 두기 */
  padding: calc(var(--padding) / 2) 0;
  /* 위아래 선 배치 */
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metaData {
  /* 프로필 사진과 채널 정보를 가로로 나열 */
  display: flex;
  /* 수직으로 가운데 정렬 */
  align-items: center;
}
/* Profile image */
.info .channel .metaData img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
/* Channel info */
.info .channel .metaData .info {
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--padding) / 2);
}

.info .channel .metaData .info .name {
  font-size: var(--font-medium);
}

.info .channel .metaData .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
/* Subscribe Button */
.info .channel .subscribe {
  text-transform: uppercase; /* 소문자를 대문자로 */
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Up next */
.upNext {
  padding: 0 var(--padding);
}
/* Up Next title */
.upNext > .title {
  display: block;
  padding-bottom: calc(var(--padding) / 2);
  font-size: var(--font-medium);
  color: var(--grey-light-color);
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
}
/* 썸네일 */
.upNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;
}
/* 제목, 이름, 조회수 */
.upNext .item .info {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
}

.upNext .item .info .title {
  font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-light-color);
}
/* more Button */
.upNext .item .moreBtn {
  flex: 1 1 5%;
  height: 100%;
}

.upNext .item .moreBtn .fa-caret-down {
}

.infoNupNext {
  display: flex;
  flex-direction: column;
}
/* Desktop Size 일 때 */
@media screen and (min-width: 768px) {
  .infoNupNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
  /* info 와 upNext 섹션이 차지하는 화면비율 조정 */
  body .infoNupNext > .info {
    flex: 1 1 55%;
  }

  .upNext {
    flex: 1 1 45%;
  }
}
